<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.CVSSCM">
    <cvsroot>/localdata/systems_cvsroot</cvsroot>
    <module>stachordRMI</module>
    <canUseUpdate>true</canUseUpdate>
    <flatten>true</flatten>
    <isTag>false</isTag>
    <excludedRegions></excludedRegions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>* * * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Ant>
      <targets>build</targets>
    </hudson.tasks.Ant>
  </builders>
  <publishers>
    <hudson.plugins.findbugs.FindBugsPublisher>
      <threshold></threshold>
      <newThreshold></newThreshold>
      <failureThreshold></failureThreshold>
      <newFailureThreshold></newFailureThreshold>
      <healthy></healthy>
      <unHealthy></unHealthy>
      <pluginName>[FINDBUGS] </pluginName>
      <thresholdLimit>low</thresholdLimit>
      <defaultEncoding></defaultEncoding>
      <useDeltaValues>false</useDeltaValues>
      <pattern></pattern>
    </hudson.plugins.findbugs.FindBugsPublisher>
    <hudson.plugins.checkstyle.CheckStylePublisher>
      <threshold></threshold>
      <newThreshold></newThreshold>
      <failureThreshold></failureThreshold>
      <newFailureThreshold></newFailureThreshold>
      <healthy></healthy>
      <unHealthy></unHealthy>
      <pluginName>[CHECKSTYLE] </pluginName>
      <thresholdLimit>low</thresholdLimit>
      <defaultEncoding></defaultEncoding>
      <useDeltaValues>false</useDeltaValues>
      <pattern></pattern>
    </hudson.plugins.checkstyle.CheckStylePublisher>
    <hudson.tasks.JavadocArchiver>
      <javadocDir>doc</javadocDir>
      <keepAll>false</keepAll>
    </hudson.tasks.JavadocArchiver>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>bin/*.jar</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>junit/*.xml</testResults>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.plugins.cvs__tag.CvsTagPublisher>
      <tagName>${env[&apos;JOB_NAME&apos;]}-${env[&apos;BUILD_NUMBER&apos;]}-${new java.text.SimpleDateFormat(&quot;yyyy_MM_dd&quot;).format(new Date())}</tagName>
    </hudson.plugins.cvs__tag.CvsTagPublisher>
  </publishers>
  <buildWrappers/>
</project>